.Rproj.user
.Rhistory
.RData
.Ruserdata
.old
src/*.o
src/*.so
src/*.dll
tmp
others
results
tests
inst/doc
miRNAss.Rproj
README.gddoc
vignettes/miRNAss.pdf
vignettes/miRNAss.synctex.gz
vignettes/miRNAss.tex
vignettes/miRNAss-concordance.tex
vignettes/miRNAss.log
